<p>match works!</p>
TIMELINE: {{match.timeline.frameInterval}} <br> 
{{match.lane}} ###
{{match.gameId}} ###
{{match.champion}} ###
{{match.platformId}} ###
{{match.timestamp}} ###
{{match.queue}} ###
{{match.role}} ###
{{match.season}} ###


<br>
//////data to fill////
<br>

{{match.type}}
{{match.date}}
{{match.daysAgo}} days/weeks/months ago
{{match.result}}
{{match.length}}
{{match.championName}}
<img [src]="match.championImageSource" class="championImage"/>
<img [src]="match.positionImageSource" class="positionImage"/>
{{match.summonerSpell1}}
{{match.summonerSpell2}}
{{match.keystone}}
{{match.secondaryRune}}
{{match.kills}} / {{match.deaths}} / {{match.assists}}
{{match.kda}}
{{match.killSpree}}
{{match.level}}
{{match.cs}}
{{match.csPerMin}}
<img [src]="match.item1ImageSource" class="itemImage"/>
<img [src]="match.item2ImageSource" class="itemImage"/>
<img [src]="match.item3ImageSource" class="itemImage"/>
<img [src]="match.item4ImageSource" class="itemImage"/>
<img [src]="match.item5ImageSource" class="itemImage"/>
<img [src]="match.item6ImageSource" class="itemImage"/>
<img [src]="match.trinketImageSource" class="itemImage"/>