/* 
 * Component font size
 */
.match-card {
    font-size: 1rem; // 16px, changes based on screen-size under /app/styles.scss
}

/* 
 * Media Queries (small to large)
 * start with <600
 */
// @media (max-width: 380px) {
//     .show-before-380 {
//         display: none;
//     }
// }

// @media (min-width: 380px) {
//     .hide-after-380 {
//         display: none;
//     }
// }
// @media (max-width: 600px) {

// }

/* 
 * Generic Material Modifier Classes 
 */
.left-align-tile-contents {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; // vertical alignment
}

.height-max {
    height: 100%;
}

.width-max {
    width: 100%;
}

/* 
 * Main Component Styles
 */
.match-card-hover {
    background-color: red;
    border: 2px solid transparent;
    border-image: url('../../../assets/red-border.png') 30 stretch;
}

.match-card {
    background: linear-gradient(90deg, rgba(201, 103, 143, 0.5) 0%, rgba(49, 41, 85, 0.5) 100%);
    font-size: 1em;
    padding: .75em;
    margin: 1em;
    mat-card-content {
        font-size: 1em;
    }
    mat-grid-tile {
        overflow: visible;
    }
    .match-card-header {
        margin-bottom: .75em;
    }
    p {
        display: inline-block;
        margin: 0;
    }
    .match-card-title {
        color: white;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .match-subheader-2 {
        float: right;
        color: #8991b6;
    }
    .match-card-details {
        margin-top: 2em;
    }
    .match-card-footer {
        margin: 2em 0 0 0;
    }
}

.match-time-ago {
    letter-spacing: normal;
    color: rgb(137, 145, 182);
    font-size: .875em;
    opacity: .75;
    margin-left: .25em;
}

.match-role {
    font-size: 10px;
    color: white;
    background: #160e31ad;
    display: inline;
    padding: 5px;
    border: solid 1px #703E65;
    border-radius: 4px;
    float: right;
    margin-top: -.5em;
}

.role-icon {
    width: 10px;
    height: 10px;
    display: inline;
    margin-right: .5em;
    vertical-align: top;
}

.match-card-date {
    color: #e2bf00;
}

.match-card-grid-list {
    height: 54px;
    line-height: 1.5em;
    font-weight: bold;
}

.main-champion-image {
    width: 36px;
    border-radius: 100%;
    border-width: 2px;
    border-color: #51ff00;
    border-style: solid;
}

.champion-sprite {
    border-radius: 100%;
    width: 25px;
    height: 25px;
}

.summoner-spells {
    height: 100%;
    margin-left: 0.25em;
    margin-top: 3px;
    display: inline-block;
    .summoner-spell-image {
        width: 15px;
        display: block;
        border-radius: 4px;
        border-width: 1px;
        border-style: solid;
        border-color: #316300;
    }
    img:first-of-type {
        margin-bottom: 0.25em;
    }
}

.runes {
    height: 100%;
    display: inline-block;
    margin-top: 1px;
    .rune-image-main {
        width: 20px;
        margin-top: -1px;
    }
    .rune-image-secondary {
        width: 13px;
        margin-left: 3px;
        display: block;
    }
}

.match-kills-deaths-assists {
    display: inline;
    position: absolute;
    left: 0.75em;
    top: 45px;
    color: white;
    font-weight: bold;
}

.main-champion-stats {
    color: white;
    display: inline-block;
    div {
        display: block;
    }
    .match-cs {
        span {
            color: rgb(137, 145, 182);
        }
    }
    .match-kp {
        span {
            color: rgb(137, 145, 182);
        }
    }
    .match-kda {
        span {
            color: rgb(137, 145, 182);
        }
    }
    .vision-score {
        vertical-align: bottom;
        .ward-svg {
            width: 16px;
            height: 16px;
            vertical-align: middle;
        }
    }
}

.item-grid-list {
    width: 103px;
    position: absolute;
    left: -7px;
    top: 0px;
    .item-trinket {
        position: absolute;
        top: 50%;
    }
    .item-image-container {
        width: 24px;
        height: 24px;
        background-color: rgba(0, 0, 0, 0.14901960784313725);
        border-radius: 4px;
        .item-image {
            width: 22px;
            border-radius: 4px;
            border-width: 1px;
            border-style: solid;
            border-color: #316300;
        }
    }
}

@media (min-width: 400px) {
    .match-kills-deaths-assists {
        top: 43px;
    }

    .item-grid-list {
        width: 138px;
        position: absolute;
        left: -25px;
        top: -10px;
        .item-image-container {
            width: 32px;
            height: 32px;
            .item-image {
                width: 30px;
            }
        }
    }
}

@media (min-width: 450px) {
    .match-card {
        padding: 1em;
    }

    .match-card-grid-list {
        height: 80px;
    }

    .item-grid-list {
        width: 151px;
        left: -6px;
        top: -3px;
        .item-image-container {
            width: 35px;
            height: 35px;
            .item-image {
                width: 33px;
            }
        }
    }

    .main-champion-image {
        width: 57px;
    }

    .summoner-spells {
        .summoner-spell-image {
            width: 24px;
        }
    }

    .runes {
        margin-left: 2px;
        .rune-image-main {
            width: 30px;
        }

        .rune-image-secondary {
            width: 19px;
            margin-left: 5px;
        }
    }


    .match-kills-deaths-assists {
        top: 65px;
    }
}

@media (min-width: 600px) {
    .match-card {
        max-width: 560px;
    }
}

@media (min-width: 800px) {
    .champion-list {
        display: block;
    }
}