<p>match works!</p>

Type: {{match.type}}<br>
Timestamp: {{ match.gameCreation | date: 'MMM d' }}<br>   
Timestamp: {{ match.gameCreation | timeAgo }}<br>   
{{match.result}}<br>
{{match.gameDuration | secondsToTime}}<br>


<h3>Main Participant:</h3>
{{mainParticipant.participantIdentity.player.summonerName}}:
{{mainParticipant.champion.name}}
<img src="../../../assets/champion/{{mainParticipant.champion.image.full}}" class="championSprite"/>
<img src="../../../assets/small.gif"
    [ngStyle]="mainParticipant.spell1Style"
/>
<img src="../../../assets/small.gif"
    [ngStyle]="mainParticipant.spell2Style"
/>

<img [src]="mainParticipant.perk0Image"/>
<img [src]="mainParticipant.perk1Image"/>
<img [src]="mainParticipant.perk2Image"/>
<img [src]="mainParticipant.perk3Image"/>
<img [src]="mainParticipant.perk4Image"/>
<img [src]="mainParticipant.perk5Image"/>

<img [src]="mainParticipant.perkSubStyleImage"/>

KILLS/DEATHS/ASSISTS: {{mainParticipant.stats.kills}} / {{mainParticipant.stats.deaths}} / {{mainParticipant.stats.assists}}<br>
KDA: {{mainParticipant.kda}}<br>
LEVEL: {{mainParticipant.stats.champLevel}}<br>
CS: {{mainParticipant.cs}}<br>
CS/MIN: {{mainParticipant.csPerMin | number:'1.1-1'}}<br>

<img [src]="mainParticipant.item0Image" class="itemImage"/>
<img [src]="mainParticipant.item1Image" class="itemImage"/>
<img [src]="mainParticipant.item2Image" class="itemImage"/>
<img [src]="mainParticipant.item3Image" class="itemImage"/>
<img [src]="mainParticipant.item4Image" class="itemImage"/>
<img [src]="mainParticipant.item5Image" class="itemImage"/>
<!-- 
{{match.killSpree}}

<img [src]="match.item2ImageSource" class="itemImage"/>
<img [src]="match.item3ImageSource" class="itemImage"/>
<img [src]="match.item4ImageSource" class="itemImage"/>
<img [src]="match.item5ImageSource" class="itemImage"/>
<img [src]="match.item6ImageSource" class="itemImage"/>
<img [src]="match.trinketImageSource" class="itemImage"/> -->



<h3>LIST OF SUMMONERS:</h3><br>
<div style="float: left;">
    <div *ngFor="let participant of match.team1Participants">
        {{participant.participantIdentity.player.summonerName}}:
        {{participant.champion.name}}
        <img src="../../../assets/champion/{{participant.champion.image.full}}" class="championSprite"/>
        <!-- <img src="../../../assets/small.gif"
            [ngStyle]="participant.spell1Style"
        />
        <img src="../../../assets/small.gif"
            [ngStyle]="participant.spell2Style"
        /> -->
    </div>
</div>
<img src="../../../assets/positions/top-position-icon.svg"/>
<img src="../../../assets/positions/jungle-position-icon.svg"/>
<img src="../../../assets/positions/mid-position-icon.svg"/>
<img src="../../../assets/positions/bottom-position-icon.svg"/>
<img src="../../../assets/positions/support-position-icon.svg"/>
<div style="float: right;">
    <div *ngFor="let participant of match.team2Participants">
        {{participant.participantIdentity.player.summonerName}}:
        {{participant.champion.name}}
        <img src="../../../assets/champion/{{participant.champion.image.full}}" class="championSprite"/>
        <!-- <img src="../../../assets/small.gif"
            [ngStyle]="participant.spell1Style"
        />
        <img src="../../../assets/small.gif"
            [ngStyle]="participant.spell2Style"
        /> -->
    </div>
</div>
