<mat-card class="match-card mat-elevation-z0" hover-class="mat-elevation-z2 match-card-hover">
    <mat-card-content class="match-card-header">
        <p class="match-card-title">{{ match.type | uppercase }}
            <span class="match-time-ago"> • {{ match.gameCreation | timeAgo }}</span>
        </p>
        <div class="match-role">
            <img [src]="mainParticipant.roleIconSource" class="role-icon"/>
            <p>{{ mainParticipant.timeline.lane }}</p>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content class="match-card-details">
        <mat-grid-list cols="3" rowHeight="54px" class="match-card-grid-list">

            <!-- CHAMPION -->

            <mat-grid-tile colspan="1" rowspan="1" class="main-champion-icons-tile">
                <div class="left-align-tile-contents">
                    <div class="height-max">
                        <img src="../../../assets/champion/{{ mainParticipant.champion.image.full }}" class="main-champion-image"/>
                    </div>
                    <div class="summoner-spells">
                        <img src="../../../assets/small.gif"
                            [ngStyle]="mainParticipant.spell1Style"
                            class="summoner-spell-image"
                        />
                        <img src="../../../assets/small.gif"
                            [ngStyle]="mainParticipant.spell2Style"
                            class="summoner-spell-image"
                        />
                    </div>
                    <div class="runes">
                        <img [src]="mainParticipant.perk0Image" class="rune-image-main"/>
                        <img [src]="mainParticipant.perkSubStyleImage" class="rune-image-secondary"/>
                    </div>
                </div>
                <div class="match-kills-deaths-assists">
                    <p>{{ mainParticipant.stats.kills }} / {{ mainParticipant.stats.deaths }} / {{ mainParticipant.stats.assists }}</p>
                </div>
            </mat-grid-tile>

            <!-- ITEMS -->

            <mat-grid-tile colspan="1" rowspan="1" class="main-champion-items-tile">
                <div class="left-align-tile-contents">
                    <mat-grid-list cols="4" rowHeight="24px"  class="item-grid-list">
                        <!-- TODO: Change to for item in items -->
                        <mat-grid-tile colspan="1" rowspan="1">
                            <div class="item-image-container">
                                <img src="../../../assets/small.gif" class="item-image"
                                    [ngStyle]="mainParticipant.item0Style"/>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="1" rowspan="1">
                            <div class="item-image-container">
                                <img src="../../../assets/small.gif" class="item-image"
                                    [ngStyle]="mainParticipant.item1Style"/>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="1" rowspan="1">
                            <div class="item-image-container">
                                <img src="../../../assets/small.gif" class="item-image"
                                    [ngStyle]="mainParticipant.item2Style"/>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="1" rowspan="1" style="top:12px">
                            <div class="item-image-container item-trinket">
                                <img src="../../../assets/small.gif" class="item-image"
                                    [ngStyle]="mainParticipant.item6Style"/>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="1" rowspan="1">
                            <div class="item-image-container">
                                <img src="../../../assets/small.gif" class="item-image"
                                    [ngStyle]="mainParticipant.item3Style"/>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="1" rowspan="1">
                            <div class="item-image-container">
                                <img src="../../../assets/small.gif" class="item-image"
                                    [ngStyle]="mainParticipant.item4Style"/>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="1" rowspan="1">
                            <div class="item-image-container">
                                <img src="../../../assets/small.gif" class="item-image"
                                    [ngStyle]="mainParticipant.item5Style"/>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
                <div class="main-champion-stats">
                    <div class="match-cs">
                        {{ mainParticipant.cs }} ({{ mainParticipant.csPerMin | number:'1.1-1' }}) <span>CS</span>
                    </div>
                    <div class="match-kp">
                        {{ mainParticipant.kp | number:'1.1-1' }}% <span>KP</span>
                    </div>
                    <div class="match-kda">
                        {{ mainParticipant.kda | number:'1.1-1' }} <span>KDA</span>
                    </div>
                </div>
            </mat-grid-tile>

        </mat-grid-list>
        


        <!-- {{ mainParticipant.stats.champLevel }} -->
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content class="match-card-footer">
        <p class="match-card-date">{{ match.gameCreation | date: 'MMM d' }}</p>
        <p class="match-subheader-2">{{ match.gameDuration | secondsToTime }}</p>
    </mat-card-content>

<!-- {{ mainParticipant.participantIdentity.player.summonerName }}: -->
<!-- {{ mainParticipant.champion.name }} -->


<!-- <img [src]="mainParticipant.perk1Image"/>
<img [src]="mainParticipant.perk2Image"/>
<img [src]="mainParticipant.perk3Image"/>
<img [src]="mainParticipant.perk4Image"/>
<img [src]="mainParticipant.perk5Image"/> -->



<!-- <h3>LIST OF SUMMONERS:</h3><br>
<div style="float: left;">
    <div *ngFor="let participant of match.team1Participants">
        {{ participant.participantIdentity.player.summonerName }}:
        {{ participant.champion.name }}
        <img src="../../../assets/champion/{{ participant.champion.image.full }}" class="champion-sprite"/>
    </div>
</div>
<img src="../../../assets/positions/top-position-icon.svg"/>
<img src="../../../assets/positions/jungle-position-icon.svg"/>
<img src="../../../assets/positions/mid-position-icon.svg"/>
<img src="../../../assets/positions/bottom-position-icon.svg"/>
<img src="../../../assets/positions/support-position-icon.svg"/>
<div style="float: right;">
    <div *ngFor="let participant of match.team2Participants">
        {{ participant.participantIdentity.player.summonerName }}:
        {{ participant.champion.name }}
        <img src="../../../assets/champion/{{ participant.champion.image.full }}" class="champion-sprite"/>
    </div>
</div> -->

</mat-card>