.profile-image-wrapper {
    position: relative;

    .profile-image {
        width: 120px;
        height: 120px;
        margin-left: calc(50% - 60px);
        margin-top: 6px;
        border-radius: 50%;
    }

    .profile-crest {
        pointer-events: none; // these crest images are huge!
        position: absolute;
        top: calc(50% - 135px);
        left: calc(50% - 135px);
        height: 270px;
        width: 270px;
    }

    .account-level {
        position: absolute;
        top: calc(100% - 20px);
        left: 0;
        width: 100%;
        text-align: center;
        color: gold;
        font-weight: bold;
        font-size: 16px;
    }
}

.summoner-name {
    color: white;
    text-align: center;
    margin-top: 52px;
}

.match-history-title-card {
    max-width: 644px;

    h2 {
        font-size: 18px;
        text-align: center;
        width: 100%;
    }

    mat-card-content {
        display: flex;
        align-items: center;
    }
}

.light-theme {
    .summoner-name {
        color: #444444;
    }
}

.search-card {
    box-shadow: none;
    margin: 1em;
    max-width: 281px;
    padding: 0;
    font-family: helvetica;
    font-weight: bold;
    color: #B1B1B1;
    border-radius: 9px;
    background: #D8D8D8;

    .na-wrap {
        display: inline-block;
        padding: 9px;

        span {
            font-size: 18px;
        }
    }

    .input-wrap {
        background: #F1F1F1;
        padding: 8px;
        border-top-right-radius: 9px;
        border-bottom-right-radius: 9px;
        display: inline-block;

        input {
            border: none;
            background: transparent;
            font-size: 18px;
            font-family: helvetica;
            font-weight: bold;
            color: #454545;
            outline: none;
            width: 200px;

            &::placeholder {
                color: #B1B1B1;
            }
        }

        img {
            cursor: pointer;
            float: right;
            margin-top: 2px;
        }
    }
}

.recent-history-summary {
    .win-box {
        display: inline-block;
        background-color: #5c8af1;
        height: 20px;
    }

    .loss-box {
        display: inline-block;
        background-color: #d45252;
        height: 20px;
    }

    .recent-champion-image {
        width: 36px;
        border-radius: 100%;
        border-width: 2px;
        border-color: grey;
        border-style: solid;
    }

    .recent-champion-grid-list {
        p {
            text-align: center;
            line-height: 1.35em;
        }
    }
}