<div [ngClass]="{'light-theme': isLightTheme | async}">

    <h3>Common picks:</h3>
    <a routerLink="/league/KingOfTryndamere">go to KingOfTryndamere~~~!</a>
    <br>
    <a routerLink="/league/tugatom">go to tugatom~~~!</a>

    <mat-card class="search-card">
        <mat-card-content>
            <div class="na-wrap">
                <span>NA</span>
            </div>
            <div class="input-wrap">
                <input (keyup.enter)="onSubmit(nameInput.value)" type="text" id="nameInput" placeholder="Search..." #nameInput required>
                <img (click)="onSubmit(nameInput.value)" src="../../../assets/searchIcon.png"/>
            </div>
        </mat-card-content>
    </mat-card>

    <div *ngIf="account else noAccount" style="margin-top: 45px;">
        <div class="profile-image-wrapper">
            <img [src]="profileIconSource" class="profile-image"/>
            <img [src]="prestigeCrestSource" class="profile-crest"/>
            <h2 class="account-level">{{account.summonerLevel}}</h2>
        </div>
        <h1 class="summoner-name">{{account.name}}</h1>
    </div>

    <ng-template #noAccount>
        <h4>Summoner not found!</h4>
        <img [src]="defaultProfileIconSource" class="profile-image"/>
        <img [src]="defaultPrestigeCrestSource" class="profile-image"/>
    </ng-template>

    <app-ranked-info-card *ngIf="rankedSoloQueue else noRankedSoloQueueEntry" [entry]="rankedSoloQueue" [cardName]="rankedSoloQueueCardName"></app-ranked-info-card>
    <ng-template #noRankedSoloQueueEntry>
        <app-ranked-info-card [cardName]="rankedSoloQueueCardName"></app-ranked-info-card>
    </ng-template>
    <app-ranked-info-card *ngIf="rankedFlexSR else noRankedFlexSR" [entry]="rankedFlexSR" [cardName]="rankedFlexSRCardName"></app-ranked-info-card>
    <ng-template #noRankedFlexSR>
        <app-ranked-info-card [cardName]="rankedFlexSRCardName"></app-ranked-info-card>
    </ng-template>
    <app-ranked-info-card *ngIf="rankedFlexTTCardName else noRankedFlexTTCardName" [entry]="rankedFlexTT" [cardName]="rankedFlexTTCardName"></app-ranked-info-card>
    <ng-template #noRankedFlexTTCardName>
        <app-ranked-info-card [cardName]="rankedFlexTTCardName"></app-ranked-info-card>
    </ng-template>

    <mat-card class="default-card recent-history-summary mat-elevation-z0" [ngClass]="{'light-theme': isLightTheme | async}" [@enterAnimation]="gotMatches">
        <mat-card-content>
            <h2>Recent Summary</h2>
            <p>{{ gamesCount }} Games</p>
            <p>{{ recentWins }}W • {{ recentLosses }}L</p>
            <div class="win-box" [style.width]="winRatio+'%'"></div >
            <div class="loss-box" [style.width]="lossRatio+'%'"></div>
            <ng-container *ngFor="let champion of champions">
                <mat-grid-list *ngIf="champion" cols="4" rowHeight="50px" class="recent-champion-grid-list">
                    <mat-grid-tile colspan="1" rowspan="1">
                        <div class="center-align-tile-contents">
                            <img src="../../../assets/champion/{{ champion.imageSource }}" class="recent-champion-image" [style.border-color]="champion.borderColor"/>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" rowspan="1">
                        <div class="center-align-tile-contents">
                            <p>{{ champion.championName }}</p>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" rowspan="1">
                        <div class="center-align-tile-contents">
                            <p>{{ champion.wins }}W {{ champion.losses }}L</p>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" rowspan="1">
                        <div class="center-align-tile-contents">
                            <p>{{ champion.winRatio }}%<br>{{ champion.games }} played</p>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </ng-container>
        </mat-card-content>
    </mat-card>

    <!-- <h3>Most Played: Ranked Solo Queue</h3>
    <div *ngFor="mostPlayedChampions as champion">
        <img [src]="champion.imageSource" class="champion.imageSource"/>
        {{champion.name}}
        {{champion.averageCS}}
        {{champion.KDA}}
        {{champion.averageKills}}
        {{champion.averageDeaths}}
        {{champion.averageAssists}}
        {{champion.winrate}}
        {{champion.gamesPlayed}}
    </div> -->

    <!-- <h3>Match History</h3> -->

    <mat-card class="default-card match-history-title-card mat-elevation-z0" [ngClass]="{'light-theme': isLightTheme | async}">
        <mat-card-content>
            <h2>Match History</h2>
        </mat-card-content>
    </mat-card>

    <ng-container [@matchHistoryAnimation]="loadedImages">
        <ng-container *ngFor="let match of matchlistMatches">
            <app-match [matchlistMatch]="match" [account]="account" (lastImage)="loadedLastImage($event)" (matchNew)="gotMatch($event)"></app-match>
        </ng-container>
    </ng-container>

</div>
