<router-outlet></router-outlet>




<!-- <h1>TOM CORNALL</h1>

<h4>307 - 717 Breslay Street</h4>
<h4>Coquitlam, BC V3J 4A5</h4>

<h4>(778) 838-9717</h4>
<h4>cornall.tom@gmail.com</h4>

<h2>PROFILE</h2>
<p>Mechanical engineering graduate with experience in a variety of team projects and software. Strengths
include time management and communication. Very interested in a career in full-stack web development.</p>

<h2>TECHNICAL SKILLS</h2>
<ul>
  <li>PHP, Laravel, MySQL</li>
  <li>Node.js</li>
  <li>Angular</li>
  <li>React</li>
  <li>CSS</li>
  <li>Photoshop, Sketch</li>
</ul> -->
