.ranked-info-card {

    mat-card-content {
        display: flex;
        align-items: center;
    }

    .ranked-emblem-image {
        width: 55px;
        height: 55px;
    }

    .ranked-info-tier {
        display: inline-block;
        margin-left: 10px;

        h2 {
            display: inline-block;
            font-size: 18px;
            line-height: 22px;
            margin: 0px;

            .rank-number {
                color: #3587E5;
            }

            .unranked-number {
                color: #999999;
            }
        }
    }

    .ranked-info-points-wrapper {
        font-weight: bold;
        display: inline-block;
        margin-left: 16px;

        p {
            font-size: 12px;
            line-height: 8px;

            .bad-winrate {
                color: #fb4444;
            }
        }
    }
}